.navbar-light .navbar-nav .nav-link {
    font-size: 18px !important;
    color: white;
}
.cyk{

}
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: gray !important;

}
.dropdown-item:hover{
    background-color: gray !important;
}
.namee {
    font-size: 16px;
}
.filtered {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.main{
    background-image: url("../../images/bg_accounts.png") !important;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: cover;
}
.tekst > p {
    text-align: left !important;
    font-size: 18.4px !important;
}
.tooltiptext {

    width: 200px;
    background-color: orangered;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    border-radius: 6px;
    margin-left: 5%;
    /* Position the tooltip text - see examples below! */

    z-index: 1;
}
.btn-link{
    color: black;

}
.accordion > .card .card-header {
    margin-bottom: -17px !important;
}
a {outline: none; text-decoration: none; color: #000000;}
a:hover {text-decoration: underline; color: #000000;}

.page {
    margin: 0 auto;
}

img{
    border: 0px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}



.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}

