.flex-container {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.flex-item {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%
}

.flex-item-align-left {
    margin-right: auto;
    text-align: left
}

.flex-item-align-right {
    margin-left: auto;
    text-align: right
}

.flex-item:empty {
    display: none
}

.flex-column-break {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 0
}

.direction-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.direction-row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.direction-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.direction-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.spacing-0 {
    margin: 0
}

.spacing-0>.flex-item {
    padding: 0
}

.spacing-4 {
    margin: -2px
}

.spacing-4>.flex-item {
    padding: 2px
}

.spacing-8 {
    margin: -4px
}

.spacing-8>.flex-item {
    padding: 4px
}

.spacing-16 {
    margin: -8px
}

.spacing-16>.flex-item {
    padding: 8px
}

.spacing-24 {
    margin: -12px
}

.spacing-24>.flex-item {
    padding: 12px
}

.spacing-32 {
    margin: -16px
}

.spacing-32>.flex-item {
    padding: 16px
}

.justify-content-flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.justify-content-flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.justify-content-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.justify-content-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.justify-content-space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.justify-content-space-evenly {
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
}

.align-items-flex-start {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

.align-items-flex-end {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end
}

.align-items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.align-items-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.align-items-baseline {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.wrap-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.wrap-nowrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.width-auto {
    width: auto
}

.width-auto,
.width-fixed {
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}

.width-fixed {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.width-grow {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.width-1 {
    width: 8.33333333%
}

.width-2 {
    width: 16.66666667%
}

.width-3 {
    width: 25%
}

.width-4 {
    width: 33.33333333%
}

.width-5 {
    width: 41.66666667%
}

.width-6 {
    width: 50%
}

.width-7 {
    width: 58.33333333%
}

.width-8 {
    width: 66.66666667%
}

.width-9 {
    width: 75%
}

.width-10 {
    width: 83.33333333%
}

.width-11 {
    width: 91.66666667%
}

.width-12 {
    width: 100%
}

@media only screen and (min-width:576px) {
    .direction-row-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .direction-row-reverse-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .direction-column-sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .direction-column-reverse-sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .spacing-0-sm {
        margin: 0
    }
    .spacing-0-sm>.flex-item {
        padding: 0
    }
    .spacing-4-sm {
        margin: -2px
    }
    .spacing-4-sm>.flex-item {
        padding: 2px
    }
    .spacing-8-sm {
        margin: -4px
    }
    .spacing-8-sm>.flex-item {
        padding: 4px
    }
    .spacing-16-sm {
        margin: -8px
    }
    .spacing-16-sm>.flex-item {
        padding: 8px
    }
    .spacing-24-sm {
        margin: -12px
    }
    .spacing-24-sm>.flex-item {
        padding: 12px
    }
    .spacing-32-sm {
        margin: -16px
    }
    .spacing-32-sm>.flex-item {
        padding: 16px
    }
    .justify-content-flex-start-sm {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .justify-content-flex-end-sm {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .justify-content-center-sm {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .justify-content-space-between-sm {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .justify-content-space-around-sm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .justify-content-space-evenly-sm {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }
    .align-items-flex-start-sm {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .align-items-flex-end-sm {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .align-items-center-sm {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .align-items-stretch-sm {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
    .align-items-baseline-sm {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .wrap-wrap-sm {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .wrap-nowrap-sm {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .width-auto-sm {
        width: auto
    }
    .width-auto-sm,
    .width-fixed-sm {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .width-fixed-sm {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
    .width-grow-sm {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
    .width-1-sm {
        width: 8.33333333%
    }
    .width-2-sm {
        width: 16.66666667%
    }
    .width-3-sm {
        width: 25%
    }
    .width-4-sm {
        width: 33.33333333%
    }
    .width-5-sm {
        width: 41.66666667%
    }
    .width-6-sm {
        width: 50%
    }
    .width-7-sm {
        width: 58.33333333%
    }
    .width-8-sm {
        width: 66.66666667%
    }
    .width-9-sm {
        width: 75%
    }
    .width-10-sm {
        width: 83.33333333%
    }
    .width-11-sm {
        width: 91.66666667%
    }
    .width-12-sm {
        width: 100%
    }
}

@media only screen and (min-width:768px) {
    .direction-row-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .direction-row-reverse-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .direction-column-md {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .direction-column-reverse-md {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .spacing-0-md {
        margin: 0
    }
    .spacing-0-md>.flex-item {
        padding: 0
    }
    .spacing-4-md {
        margin: -2px
    }
    .spacing-4-md>.flex-item {
        padding: 2px
    }
    .spacing-8-md {
        margin: -4px
    }
    .spacing-8-md>.flex-item {
        padding: 4px
    }
    .spacing-16-md {
        margin: -8px
    }
    .spacing-16-md>.flex-item {
        padding: 8px
    }
    .spacing-24-md {
        margin: -12px
    }
    .spacing-24-md>.flex-item {
        padding: 12px
    }
    .spacing-32-md {
        margin: -16px
    }
    .spacing-32-md>.flex-item {
        padding: 16px
    }
    .justify-content-flex-start-md {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .justify-content-flex-end-md {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .justify-content-center-md {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .justify-content-space-between-md {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .justify-content-space-around-md {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .justify-content-space-evenly-md {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }
    .align-items-flex-start-md {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .align-items-flex-end-md {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .align-items-center-md {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .align-items-stretch-md {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
    .align-items-baseline-md {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .wrap-wrap-md {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .wrap-nowrap-md {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .width-auto-md {
        width: auto
    }
    .width-auto-md,
    .width-fixed-md {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .width-fixed-md {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
    .width-grow-md {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
    .width-1-md {
        width: 8.33333333%
    }
    .width-2-md {
        width: 16.66666667%
    }
    .width-3-md {
        width: 25%
    }
    .width-4-md {
        width: 33.33333333%
    }
    .width-5-md {
        width: 41.66666667%
    }
    .width-6-md {
        width: 50%
    }
    .width-7-md {
        width: 58.33333333%
    }
    .width-8-md {
        width: 66.66666667%
    }
    .width-9-md {
        width: 75%
    }
    .width-10-md {
        width: 83.33333333%
    }
    .width-11-md {
        width: 91.66666667%
    }
    .width-12-md {
        width: 100%
    }
}

@media only screen and (min-width:992px) {
    .direction-row-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .direction-row-reverse-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
    .direction-column-lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .direction-column-reverse-lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }
    .spacing-0-lg {
        margin: 0
    }
    .spacing-0-lg>.flex-item {
        padding: 0
    }
    .spacing-4-lg {
        margin: -2px
    }
    .spacing-4-lg>.flex-item {
        padding: 2px
    }
    .spacing-8-lg {
        margin: -4px
    }
    .spacing-8-lg>.flex-item {
        padding: 4px
    }
    .spacing-16-lg {
        margin: -8px
    }
    .spacing-16-lg>.flex-item {
        padding: 8px
    }
    .spacing-24-lg {
        margin: -12px
    }
    .spacing-24-lg>.flex-item {
        padding: 12px
    }
    .spacing-32-lg {
        margin: -16px
    }
    .spacing-32-lg>.flex-item {
        padding: 16px
    }
    .justify-content-flex-start-lg {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .justify-content-flex-end-lg {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .justify-content-center-lg {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .justify-content-space-between-lg {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    .justify-content-space-around-lg {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .justify-content-space-evenly-lg {
        -webkit-box-pack: space-evenly;
        -webkit-justify-content: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly
    }
    .align-items-flex-start-lg {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .align-items-flex-end-lg {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .align-items-center-lg {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }
    .align-items-stretch-lg {
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch
    }
    .align-items-baseline-lg {
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline
    }
    .wrap-wrap-lg {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .wrap-nowrap-lg {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
    .width-auto-lg {
        width: auto
    }
    .width-auto-lg,
    .width-fixed-lg {
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .width-fixed-lg {
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }
    .width-grow-lg {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
    .width-1-lg {
        width: 8.33333333%
    }
    .width-2-lg {
        width: 16.66666667%
    }
    .width-3-lg {
        width: 25%
    }
    .width-4-lg {
        width: 33.33333333%
    }
    .width-5-lg {
        width: 41.66666667%
    }
    .width-6-lg {
        width: 50%
    }
    .width-7-lg {
        width: 58.33333333%
    }
    .width-8-lg {
        width: 66.66666667%
    }
    .width-9-lg {
        width: 75%
    }
    .width-10-lg {
        width: 83.33333333%
    }
    .width-11-lg {
        width: 91.66666667%
    }
    .width-12-lg {
        width: 100%
    }
}

.Text {
    margin: 0
}

.Text-fontSize--11 {
    font-size: 11px
}

.Text-fontSize--12 {
    font-size: 12px
}

.Text-fontSize--13 {
    font-size: 13px
}

.Text-fontSize--14 {
    font-size: 14px
}

.Text-fontSize--16 {
    font-size: 16px
}

.Text-fontSize--20 {
    font-size: 20px
}

.Text-fontSize--24,
.Text-fontSize--36 {
    font-size: 24px
}

.Text-fontWeight--400 {
    font-weight: 400
}

.Text-fontWeight--500 {
    font-weight: 500
}

.Text-fontWeight--600 {
    font-weight: 600
}

.Text-fontWeight--700 {
    font-weight: 700
}

.Text-fontWeight--900 {
    font-weight: 900
}

.Text-fontStyle--italic {
    font-style: italic
}

.Text-fontStyle--normal {
    font-style: normal
}

.Text-color--gray50 {
    color: #f9f9f9
}
.Text-color--white {
    color: #ffffff
}

.Text-color--gray100 {
    color: #e7e7e7
}

.Text-color--gray200 {
    color: #c7c7c7
}

.Text-color--gray300 {
    color: #ababab
}

.Text-color--gray400 {
    color: #909090
}

.Text-color--gray500 {
    color: #727272
}

.Text-color--gray600 {
    color: #565656
}

.Text-color--gray700 {
    color: #424242
}

.Text-color--gray800 {
    color: #303030
}

.Text-color--gray900 {
    color: #202020
}

.Text-color--blue {
    color: #0074d4
}

.Text-color--red {
    color: #dc2727
}

.Text-color--green {
    color: #24b47e
}

.Text-color--yellow {
    color: #ffde92
}

.Text-color--orange {
    color: #bb5504
}

.Text-transform--uppercase {
    text-transform: uppercase
}

.Text--tabularNumbers {
    font-variant-numeric: tabular-nums;
    letter-spacing: -.03rem
}

.Text--truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.Link {
    text-decoration: none;
    cursor: pointer
}

.Link:focus {
    outline: 1px dotted #909090
}

.Link--primary {
    color: #0074d4
}

.Link--secondary {
    color: #909090;
    text-decoration: underline
}

.Icon--sm {
    height: 12px
}

.Icon--sm.Icon--square {
    width: 12px
}

.Icon--md {
    height: 16px
}

.Icon--md.Icon--square {
    width: 16px
}

.Icon--lg {
    height: 24px
}

.Icon--lg.Icon--square {
    width: 24px
}

.Icon .Icon-fill {
    fill: #565656
}

.Spinner {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.Spinner,
.Spinner-svg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.Spinner-svg {
    position: relative
}

.Spinner--sm .Spinner-svg {
    width: 12px;
    height: 12px
}

.Spinner--md .Spinner-svg {
    width: 18px;
    height: 18px
}

.Spinner--lg .Spinner-svg {
    width: 48px;
    height: 48px
}

.Spinner-ellipse {
    fill: transparent;
    stroke: #c7c7c7;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-dasharray: 60;
    stroke-dashoffset: 20;
    -webkit-animation: SpinnerAnimationShow .25s normal ease, SpinnerAnimationRotation .6s linear infinite;
    animation: SpinnerAnimationShow .25s normal ease, SpinnerAnimationRotation .6s linear infinite;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    transition-timing-function: ease;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.Spinner--white .Spinner-ellipse {
    stroke: #fff
}

@-webkit-keyframes SpinnerAnimationShow {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes SpinnerAnimationShow {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes SpinnerAnimationRotation {
    0% {
        -webkit-transform: scaleX(-1) rotate(0);
        transform: scaleX(-1) rotate(0)
    }
    50% {
        -webkit-transform: scaleX(-1) rotate(-180deg);
        transform: scaleX(-1) rotate(-180deg)
    }
    to {
        -webkit-transform: scaleX(-1) rotate(-1turn);
        transform: scaleX(-1) rotate(-1turn)
    }
}

@keyframes SpinnerAnimationRotation {
    0% {
        -webkit-transform: scaleX(-1) rotate(0);
        transform: scaleX(-1) rotate(0)
    }
    50% {
        -webkit-transform: scaleX(-1) rotate(-180deg);
        transform: scaleX(-1) rotate(-180deg)
    }
    to {
        -webkit-transform: scaleX(-1) rotate(-1turn);
        transform: scaleX(-1) rotate(-1turn)
    }
}

.Button {
    border: 1px solid transparent;
    border-radius: 6px;
    transition: background-color .1s ease-in, -webkit-transform .08s ease-in;
    transition: background-color .1s ease-in, transform .08s ease-in;
    transition: background-color .1s ease-in, transform .08s ease-in, -webkit-transform .08s ease-in;
    cursor: pointer
}

.Button--sm {
    font-size: 12px
}

.Button--md {
    font-size: 14px;
    padding: 8px 16px
}

.Button--lg {
    font-size: 16px;
    padding: 12px 24px
}

.Button--primary {
    color: #fff;
    background-color: #0074d4;
    border-color: #0074d4
}

.Button--primary:focus {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3);
    outline: none
}

.Button--primary:not(:disabled):hover {
    background-color: #0066ba
}

.Button--primary:active {
    -webkit-transform: scale(.98);
    -ms-transform: scale(.98);
    transform: scale(.98)
}

.Button--primary:disabled {
    background-color: #0066bac7
}

.Button--primary:disabled:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    cursor: default
}

.Button--link {
    padding: 0;
    color: #0074d4;
    background-color: transparent;
    border: none;
    outline: none
}

.Button-Icon {
    margin-right: 8px
}

.Button-Icon--right {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-left: 8px
}

.Button-Spinner {
    opacity: .5
}

.HeaderImage--logo img {
    max-width: 150px;
    max-height: 32px;
    margin-right: 8px
}

.App-Container--setupMode .HeaderImage--logo img {
    max-height: 35px
}

.HeaderImage--icon {
    height: 28px;
    width: 28px;
    margin-right: 8px;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 1px 0 rgba(0, 0, 0, .07);
    background: #fff;
    border-radius: 100%
}

.HeaderImage--icon:not(.HeaderImage--iconFallback) img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.HeaderImage--iconFallback .Icon {
    fill: #909090
}

@media only screen and (min-width:992px) {
    .App-Container:not(.App-Container--setupMode) .HeaderImage--logo img {
        max-height: 28px;
        max-width: 300px
    }
}

.Tag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2px 4px;
    background-color: #ffde92;
    border-radius: 4px
}

.Body--modal-open {
    overflow: hidden
}

.Modal-Overlay {
    z-index: 13;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .2);
    -webkit-tap-highlight-color: transparent
}

.Modal-Content {
    overflow: auto;
    outline: none
}

.LineItem-ImageContainer {
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.LineItem-Image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px
}

.OrderDetails-Items {
    list-style: none;
    padding: 0;
    margin: 0
}

.OrderDetails-Item {
    margin-bottom: 16px
}

.OrderDetails-Subtotal {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 16px
}

.OrderDetails-Subtotal-Item {
    padding-bottom: 8px
}

.OrderDetails-Total {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #e7e7e7;
    margin-top: 8px
}

.OrderDetails-Subtotal--indented,
.OrderDetails-Total--indented {
    margin-left: 58px
}

.OrderDetailsDropdown-ModalOverlay {
    z-index: 11;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0
}

@supports ((-webkit-backdrop-filter:blur(0)) or (backdrop-filter:blur(0))) {
    .OrderDetailsDropdown-ModalOverlay {
        -webkit-backdrop-filter: grayscale(80%);
        backdrop-filter: grayscale(80%)
    }
}

.OrderDetailsDropdown-ModalOverlay.Modal-Overlay--after-open {
    opacity: 1;
    transition: opacity .15s ease-out
}

.OrderDetailsDropdown-ModalOverlay.Modal-Overlay--before-close {
    opacity: 0
}

.OrderDetailsDropdown-Modal {
    margin-top: 60px;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.OrderDetailsDropdown-Modal.Modal-Content--after-open {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out
}

.OrderDetailsDropdown-Modal.Modal-Content--before-close {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}

.OrderDetailsDropdown {
    padding: 16px;
    padding-top: 0
}

.OrderDetailsDropdown-OrderDetails {
    max-width: 380px;
    margin: auto
}

.Header {
    z-index: 12
}

.Header-BusinessLink {
    display: block;
    margin-left: -24px;
    padding-left: 24px
}

.Header-Business .Header-BusinessLink-arrow {
    opacity: .4;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .25s ease, -webkit-transform .25s ease;
    transition: opacity .25s ease, transform .25s ease;
    transition: opacity .25s ease, transform .25s ease, -webkit-transform .25s ease
}

.Header-BusinessLink:focus .Header-BusinessLink-arrow,
.Header-BusinessLink:hover .Header-BusinessLink-arrow {
    opacity: 1;
    -webkit-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    transform: translateX(-2px)
}

.Header-Business .Header-BusinessLink-label {
    opacity: 0;
    position: absolute;
    left: 0;
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
    -ms-transform: translateX(4px) translateY(-50%);
    transition: opacity .1s ease 0ms, -webkit-transform .1s ease 0ms;
    transition: opacity .1s ease 0ms, transform .1s ease 0ms;
    transition: opacity .1s ease 0ms, transform .1s ease 0ms, -webkit-transform .1s ease 0ms
}

.Header-BusinessLink-name-wrapper .Header-BusinessLink-label {
    -ms-transform: translateX(4px)
}

@media only screen and (min-width:576px) {
    .Header-Business .Header-BusinessLink-arrow {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        -ms-transform: translateX(-20px) translateY(-50%);
        position: absolute
    }
    .Header-BusinessLink:focus .Header-BusinessLink-arrow,
    .Header-BusinessLink:hover .Header-BusinessLink-arrow {
        -webkit-transform: translateX(-22px);
        transform: translateX(-22px);
        -ms-transform: translateX(-22px) translateY(-50%)
    }
    .Header-BusinessLink:focus .Header-BusinessLink-label,
    .Header-BusinessLink:hover .Header-BusinessLink-label {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -ms-transform: translateY(-50%);
        transition: opacity .25s ease 50ms, -webkit-transform .25s ease 50ms;
        transition: opacity .25s ease 50ms, transform .25s ease 50ms;
        transition: opacity .25s ease 50ms, transform .25s ease 50ms, -webkit-transform .25s ease 50ms
    }
    .Header-BusinessLink:focus .Header-BusinessLink-name-wrapper .Header-BusinessLink-label,
    .Header-BusinessLink:hover .Header-BusinessLink-name-wrapper .Header-BusinessLink-label {
        -ms-transform: translateX(4px)
    }
    .Header-BusinessLink .HeaderImage--logo {
        transition: opacity .25s ease .1s, -webkit-transform .25s ease .1s;
        transition: opacity .25s ease .1s, transform .25s ease .1s;
        transition: opacity .25s ease .1s, transform .25s ease .1s, -webkit-transform .25s ease .1s
    }
    .Header-BusinessLink:focus .HeaderImage--logo,
    .Header-BusinessLink:hover .HeaderImage--logo {
        opacity: 0;
        transition: opacity .1s ease 0ms, -webkit-transform .1s ease 0ms;
        transition: opacity .1s ease 0ms, transform .1s ease 0ms;
        transition: opacity .1s ease 0ms, transform .1s ease 0ms, -webkit-transform .1s ease 0ms;
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    .Header-BusinessLink .HeaderImage--icon {
        transition: opacity .25s ease, -webkit-transform .25s ease;
        transition: opacity .25s ease, transform .25s ease;
        transition: opacity .25s ease, transform .25s ease, -webkit-transform .25s ease
    }
    .Header-BusinessLink:focus .HeaderImage--icon,
    .Header-BusinessLink:hover .HeaderImage--icon {
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    .Header-BusinessLink-name-wrapper {
        position: relative
    }
    .Header-BusinessLink .Header-BusinessLink-name {
        transition: opacity .25s ease .1s, -webkit-transform .25s ease .1s;
        transition: opacity .25s ease .1s, transform .25s ease .1s;
        transition: opacity .25s ease .1s, transform .25s ease .1s, -webkit-transform .25s ease .1s
    }
    .Header-BusinessLink:focus .Header-BusinessLink-name,
    .Header-BusinessLink:hover .Header-BusinessLink-name {
        opacity: 0;
        transition: opacity .1s ease 0ms, -webkit-transform .1s ease 0ms;
        transition: opacity .1s ease 0ms, transform .1s ease 0ms;
        transition: opacity .1s ease 0ms, transform .1s ease 0ms, -webkit-transform .1s ease 0ms;
        -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
        transform: translateX(-2px)
    }
    .Header-BusinessLink .Tag {
        transition: opacity .1s ease
    }
    .Header-BusinessLink:focus .Tag,
    .Header-BusinessLink:hover .Tag {
        opacity: 0
    }
}

.Header-Actions {
    display: none
}

.Header-ViewDetailsButton {
    width: 100%;
    text-align: right;
    color: #909090
}

@media only screen and (max-width:991.98px) {
    .App--multiItem .Header {
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
        padding: 16px;
        background-color: #fff
    }
    .App--multiItem .Header-Content {
        max-width: 380px;
        margin: auto
    }
    .App--multiItem .Header:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid #e7e7e7;
        opacity: 0;
        transition: opacity .15s ease-out
    }
    .App--multiItem .Header--withShadow:after {
        opacity: 1
    }
    .App--multiItem .Header-Actions {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

.Footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.Footer-PoweredBy-Icon {
    vertical-align: text-bottom;
    -webkit-transform: translateY(1.5px);
    -ms-transform: translateY(1.5px);
    transform: translateY(1.5px);
    opacity: .7
}

.Footer-Links,
.Footer-PoweredBy {
    padding: 4px
}

@media only screen and (min-width:992px) {
    .Footer {
        height: 16px;
        line-height: 16px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .Footer-Links {
        padding: 0 0 0 16px
    }
    .Footer-PoweredBy {
        padding: 0 16px 0 0;
        border-right: 1px solid #e7e7e7
    }
    .App-Container--setupMode .Footer {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.ProductSummary {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.ProductSummary,
.ProductSummary-Info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.ProductSummary-ProductImageContainer {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 32px 16px
}

.App--multiItem .ProductSummary-ProductImageContainer {
    margin-bottom: 32px
}

.ProductSummary-ProductImageContainer img {
    max-height: 120px
}

.ProductSummary-TotalAmount {
    margin: 2px 0 3px;
    font-size: 28px
}

@media only screen and (min-width:992px) {
    .ProductSummary {
        text-align: left;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .App--singleItem .ProductSummary {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .App--singleItem .ProductSummary-ProductImageContainer {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        width: 300px;
        height: 300px;
        margin: 32px 0
    }
    .App--singleItem .ProductSummary-ProductImageContainer img {
        max-height: 300px;
        max-width: 300px
    }
    .App--singleItem .ProductSummary-Info {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
    .App--multiItem .ProductSummary-ProductImageContainer {
        display: none
    }
    .ProductSummary-TotalAmount {
        font-size: 36px
    }
}

.ProductImage-container {
    position: relative;
    text-align: center
}

.ProductImage-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px
}

.ProductImage-itemCount {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    bottom: -10px;
    box-shadow: 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 1px 0 rgba(0, 0, 0, .07);
    background: #fff;
    text-align: center;
    border-radius: 70px;
    padding: 2px 7px;
    font-size: 13px;
    font-weight: 700
}

.ProductSummaryTotalAmount .BillingIntervalBreak {
    display: none
}

.ProductSummaryTotalAmount-BillingInterval {
    display: inline-block
}

@media only screen and (min-width:992px) {
    .ProductSummaryTotalAmount .BillingIntervalBreak {
        display: unset
    }
}

.InvalidSession {
    text-align: center
}

.InvalidSession-icon {
    margin-bottom: 16px;
    height: 64px
}

.InvalidSession-message,
.InvalidSession-title {
    margin-bottom: 16px
}

.Tabs-TabList {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0
}

.Tabs-TabListItemContainer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 8px
}

.Tabs-TabListItemContainer:last-of-type {
    margin-right: 0
}

.Tabs-TabListItem {
    width: 100%;
    padding: 14px 12px 8px;
    border-radius: 6px;
    color: #303030;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e7e7e7
}

.Tabs-TabListItem:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Tabs-TabListItem--is-selected {
    border: 1px solid #303030;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.Tabs--is-disabled .Tabs-TabListItem {
    cursor: auto
}

.Tabs-TabListItem .Tabs-TabListItemContent {
    opacity: .7
}

.Tabs-TabListItem--is-selected .Tabs-TabListItemContent {
    opacity: 1
}

.Tabs-TabListItem .Tabs-TabListItemContent svg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.Tabs-TabPanelContainer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 24px
}

.Tabs-TabPanelContent {
    width: 100%
}

.PrefilledInfo {
    margin: 0;
    padding: 12px;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    background-color: #f9f9f9
}

.PrefilledInfo .PrefilledInfoItem:not(:last-child) {
    margin-bottom: 8px
}

.PrefilledInfoItem-value {
    margin: 0
}

.BacsDebitRulesNotice p:last-child {
    margin-bottom: 0
}

.InputContainer {
    position: relative;
    display: block;
    margin: 0;
    padding: 0
}

.InputContainer:after {
    height: 0;
    visibility: hidden;
    content: attr(data-max)
}

.InputContainer-placeholder--ie {
    pointer-events: none;
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    color: #bbbbc2
}

.Input--empty+.InputContainer-placeholder--ie {
    top: 0;
    opacity: 1
}

.InputContainer .InputElement {
    position: absolute;
    top: 0
}

.InputContainer .InputElement::-webkit-input-placeholder {
    -webkit-text-fill-color: currentColor
}

.InputContainer .InputElement::-moz-placeholder {
    -webkit-text-fill-color: currentColor
}

.InputContainer .InputElement:-ms-input-placeholder {
    -webkit-text-fill-color: currentColor
}

.InputContainer .InputElement::placeholder {
    -webkit-text-fill-color: currentColor
}

.CheckoutInput {
    position: relative;
    width: 100%;
    height: 44px;
    padding: 8px 12px;
    color: #303030;
    font-size: 16px;
    line-height: 1.5;
    border: 0;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    transition: box-shadow .08s ease-in, color .08s ease-in;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.CheckoutInput::-webkit-input-placeholder {
    color: #ababab
}

.CheckoutInput::-moz-placeholder {
    color: #ababab
}

.CheckoutInput:-ms-input-placeholder {
    color: #ababab
}

.CheckoutInput::placeholder {
    color: #ababab
}

.CheckoutInput+.InputContainer-placeholder--ie {
    z-index: 2;
    top: 9px;
    left: 12px;
    font-size: 16px;
    color: #ababab
}

.CheckoutInput:focus {
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.CheckoutInput--fakeAutofill,
.CheckoutInput:-webkit-autofill {
    -webkit-text-fill-color: #303030;
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput--fakeAutofill:focus,
.CheckoutInput:-webkit-autofill:focus {
    transition: box-shadow .08s ease-in, color .08s ease-in;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput:disabled {
    color: #ababab;
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #f9f9f9
}

.CheckoutInput--fakeAutofill:disabled,
.CheckoutInput:disabled:-webkit-autofill {
    -webkit-text-fill-color: #ababab
}

.CheckoutInput--invalid {
    z-index: 1;
    color: #dc2727;
    box-shadow: 0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.CheckoutInput--invalid.CheckoutInput--fakeAutofill,
.CheckoutInput--invalid:-webkit-autofill {
    -webkit-text-fill-color: #dc2727;
    box-shadow: 0 0 0 1px rgba(220, 39, 39, .5), 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.CheckoutInput--tabularNumbers,
.CheckoutInput--tabularNumbers+.InputContainer-placeholder--ie {
    font-variant-numeric: tabular-nums;
    letter-spacing: -.03rem
}

.CheckoutInput::-ms-clear {
    display: none
}

.InputContainer com-1password-op-button {
    display: none!important
}

@media only screen and (min-width:992px) {
    .App-Container:not(.App-Container--setupMode) .CheckoutInput {
        height: 36px;
        font-size: 14px
    }
    .App-Container:not(.App-Container--setupMode) .CheckoutInput+.InputContainer-placeholder--ie {
        font-size: 14px
    }
}

.Select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.Select-source {
    width: 100%;
    height: 44px;
    font-size: 16px;
    padding: 8px 12px;
    padding-right: 24px;
    color: #303030;
    line-height: 1.5;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    transition: box-shadow .08s ease-in, color .08s ease-in;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Select-source--empty {
    color: #ababab
}

.Select-source--empty option {
    color: #303030
}

.Select-source:focus {
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3)
}

.Select--fakeAutofill .Select-source,
.Select-source:-webkit-autofill {
    -webkit-text-fill-color: #303030;
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.Select--fakeAutofill .Select-source:focus,
.Select-source:-webkit-autofill:focus {
    transition: box-shadow .08s ease-in, color .08s ease-in;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3), inset 0 0 0 1000px #fefbe7
}

.Select-source:disabled {
    color: #ababab;
    transition: background-color 100000000s, box-shadow 0s linear;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #f9f9f9
}

.Select--fakeAutofill .Select-source:disabled,
.Select-source:disabled:-webkit-autofill {
    -webkit-text-fill-color: #ababab
}

.Select--invalid .Select-source {
    color: #dc2727;
    box-shadow: 0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.Select--invalid .Select-source--empty {
    color: #ababab
}

.Select--invalid.Select--fakeAutofill,
.Select--invalid .Select-source:-webkit-autofill {
    -webkit-text-fill-color: #ababab;
    box-shadow: 0 0 0 1px rgba(220, 39, 39, .5), 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05), inset 0 0 0 1000px #fefbe7
}

.Select-source::-ms-expand {
    display: none
}

.Select-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -6px;
    pointer-events: none;
    width: 12px;
    height: 12px;
    z-index: 3
}

@media only screen and (min-width:992px) {
    .App-Container:not(.App-Container--setupMode) .Select-source {
        height: 36px;
        font-size: 14px
    }
}

.BrandIcon {
    height: 16px
}

.BrandIcon.is-bank {
    height: 18px;
    border-radius: 2.5px
}

.FormFieldInput {
    position: relative
}

.FormFieldInput-Icon {
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 12px;
    z-index: 3
}

.FormFieldInput.is-select .FormFieldInput-Icon {
    left: 0;
    right: auto;
    padding-left: 12px
}

.FormFieldInput-Icons {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 8px
}

.FormFieldInput-Icons,
.FormFieldInput-IconsIcon {
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 3
}

.FormFieldInput-IconsIcon {
    padding-right: 4px
}

.FormFieldInput-Icon.is-disabled img,
.FormFieldInput-Icon.is-disabled svg {
    -webkit-filter: grayscale(.8);
    filter: grayscale(.8);
    opacity: .4
}

.FormFieldInput-Icon img,
.FormFieldInput-Icon svg {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    opacity: 0;
    transition: opacity .7s cubic-bezier(.075, .82, .165, 1), -webkit-transform .4s cubic-bezier(.075, .82, .165, 1);
    transition: transform .4s cubic-bezier(.075, .82, .165, 1), opacity .7s cubic-bezier(.075, .82, .165, 1);
    transition: transform .4s cubic-bezier(.075, .82, .165, 1), opacity .7s cubic-bezier(.075, .82, .165, 1), -webkit-transform .4s cubic-bezier(.075, .82, .165, 1)
}

.FormFieldInput-Icon.is-loaded img,
.FormFieldInput-Icon.is-loaded svg {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.FormFieldInput-Icon.is-select svg,
.FormFieldInput.is-select img {
    transition: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1
}

.FormFieldInput.is-select.has-icon select {
    text-indent: 26px
}

.FieldError {
    transition: all .3s ease;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.FieldError:not:empty {
    margin-top: 4px
}

.FormFieldGroup--is-empty .FormFieldInput-Icon {
    display: none
}

.FormFieldGroup--is-empty .FormFieldGroup-childLeft .Input:not(:focus),
.FormFieldGroup--is-empty .FormFieldGroup-childLeft .Select-source:not(:focus) {
    box-shadow: 0 0 0 1px #ef9896, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05)
}

.FormFieldGroup-Fieldset {
    margin: 4px 0 0;
    border: none;
    padding: 0
}

.FormFieldGroup-labelContainer {
    position: relative
}

.FormFieldGroup-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.FormFieldGroup-container--supportTransitions {
    -webkit-perspective: 800px;
    perspective: 800px
}

.FormFieldGroup-child {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    min-width: 0;
    max-width: 100%;
    -webkit-transform-origin: "0%";
    -ms-transform-origin: "0%";
    transform-origin: "0%"
}

.FormFieldGroup-child--width-12 {
    width: 100%
}

.FormFieldGroup-child--width-6 {
    width: 50%
}

.FormFieldGroup-child .CheckoutInput,
.FormFieldGroup-child .Select-source {
    border-radius: 0
}

.FormFieldGroup-childTop.FormFieldGroup-childLeft .CheckoutInput,
.FormFieldGroup-childTop.FormFieldGroup-childLeft .Select-source {
    border-top-left-radius: 6px
}

.FormFieldGroup-childTop.FormFieldGroup-childRight .CheckoutInput,
.FormFieldGroup-childTop.FormFieldGroup-childRight .Select-source {
    border-top-right-radius: 6px
}

.FormFieldGroup-childBottom.FormFieldGroup-childLeft .CheckoutInput,
.FormFieldGroup-childBottom.FormFieldGroup-childLeft .Select-source {
    border-bottom-left-radius: 6px
}

.FormFieldGroup-childBottom.FormFieldGroup-childRight .CheckoutInput,
.FormFieldGroup-childBottom.FormFieldGroup-childRight .Select-source {
    border-bottom-right-radius: 6px
}

.CheckboxField {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}

.Checkbox-InputContainer {
    margin-right: 12px;
    position: relative;
    top: 4px
}

.Checkbox-StyledInput {
    pointer-events: none;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, .07), 0 1px 1.5px 0 rgba(0, 0, 0, .05);
    cursor: pointer;
    display: block;
    height: 16px;
    min-width: 16px;
    transition: box-shadow .08s ease-in, color .08s ease-in;
    width: 16px
}

.Checkbox-StyledInput,
.Checkbox-StyledInput:before {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Checkbox-StyledInput:before {
    border: 0;
    border-bottom: 3px solid #303030;
    border-right: 3px solid #303030;
    content: " ";
    cursor: default;
    display: none;
    height: 14px;
    left: 8px;
    position: absolute;
    top: -5px;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 5px
}

.Checkbox-Input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    box-shadow: none;
    height: 16px;
    opacity: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 16px
}

.Checkbox-Label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.CheckboxField--disabled .Checkbox-Label {
    color: #ababab
}

.CheckboxField--invalid .Checkbox-Label {
    color: #dc2727
}

.CheckboxField--disabled .Checkbox-StyledInput,
.CheckboxField--disabled .Checkbox-StyledInput:before {
    cursor: default;
    pointer-events: none
}

.CheckboxField--disabled .Checkbox-StyledInput:after {
    background: #fff;
    bottom: -1px;
    content: " ";
    left: -1px;
    opacity: .5;
    pointer-events: auto;
    position: absolute;
    right: -4px;
    top: -4px
}

.CheckboxField--checked .Checkbox-StyledInput:before {
    display: block
}

.Checkbox-Input:focus~.Checkbox-StyledInput {
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3);
    z-index: 2
}

.CardFormFieldGroupIconOverflow {
    width: 28px;
    height: 16px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.CardFormFieldGroupIconOverflow-Item {
    transition: all .4s ease;
    transition-delay: .15s;
    position: absolute;
    top: 0;
    left: 0
}

.CardFormFieldGroupIconOverflow-Item--visible {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.CardFormFieldGroupIconOverflow-Item--invisible {
    opacity: 0;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

.HiddenInput {
    position: absolute;
    height: 2px;
    width: 2px;
    opacity: 0
}

.SubmitButton {
    position: relative;
    overflow: hidden;
    height: 44px;
    width: 100%;
    margin-top: 12px;
    padding: 0;
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, .1), 0 2px 5px 0 rgba(50, 50, 93, .1), 0 1px 1px 0 rgba(0, 0, 0, .07);
    border: 0;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease, box-shadow .08s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.SubmitButton:disabled {
    cursor: default
}

.SubmitButton-Shimmer {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 150%;
    opacity: 0;
    -webkit-transform: translateX(-150%);
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
    transition: opacity .2s ease
}

.SubmitButton-Text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 44px;
    transition: all .2s ease
}

.SubmitButton-IconContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px);
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease
}

.SubmitButton-Icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    transition: all .2s ease
}

.SubmitButton-SpinnerIcon .Icon,
.SubmitButton-SpinnerIcon svg {
    height: 20px;
    width: 20px
}

.SubmitButton-SpinnerIcon ellipse {
    stroke-width: 1;
    stroke-linecap: round;
    stroke-dasharray: 70;
    stroke-dashoffset: 30;
    fill: transparent;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: spinner-spin .6s linear infinite;
    animation: spinner-spin .6s linear infinite
}

.SubmitButton-CheckmarkIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(calc(-50% + 2px)) translateX(-50%) scale(.6);
    -ms-transform: translateY(calc(-50% + 2px)) translateX(-50%) scale(.6);
    transform: translateY(calc(-50% + 2px)) translateX(-50%) scale(.6)
}

.SubmitButton-CheckmarkIcon path {
    stroke-linecap: round;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    opacity: 0
}

.SubmitButton--incomplete .SubmitButton-Text--current {
    opacity: .6
}

.SubmitButton--complete:focus,
.SubmitButton--incomplete:focus {
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, .1), 0 6px 15px 0 rgba(50, 50, 93, .2), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 0 0 4px rgba(50, 151, 211, .3)
}

.SubmitButton--complete:hover {
    background-color: #005ebb;
    box-shadow: inset 0 0 0 1px rgba(50, 50, 93, .1), 0 6px 15px 0 rgba(50, 50, 93, .2), 0 2px 2px 0 rgba(0, 0, 0, .1)
}

.SubmitButton--complete:active {
    -webkit-transform: scale(.99);
    -ms-transform: scale(.99);
    transform: scale(.99)
}

.SubmitButton--complete-Shimmer {
    opacity: 1;
    -webkit-animation: shimmer-move 3s infinite ease;
    animation: shimmer-move 3s infinite ease
}

.SubmitButton--complete:hover.SubmitButton--complete-Shimmer {
    opacity: .6
}

.SubmitButton--success {
    background-color: #24b47e
}

.SubmitButton--success .SubmitButton-IconContainer {
    -webkit-transform: translateX(calc(-50% + 20px / 2));
    -ms-transform: translateX(calc(-50% + 20px / 2));
    transform: translateX(calc(-50% + 20px / 2))
}

.SubmitButton-Text--pre {
    opacity: 0;
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px)
}

.SubmitButton-Text--post {
    opacity: 0;
    -webkit-transform: translateX(-16px);
    -ms-transform: translateX(-16px);
    transform: translateX(-16px)
}

.SubmitButton-Icon--post,
.SubmitButton-Icon--pre {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(.9);
    -ms-transform: translateY(-50%) scale(.9);
    transform: translateY(-50%) scale(.9)
}

.SubmitButton-Icon--current {
    opacity: 1
}

.SubmitButton-Icon--post-center {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1.3);
    -ms-transform: translateY(-50%) scale(1.3);
    transform: translateY(-50%) scale(1.3);
    transition-duration: .3s
}

.SubmitButton-Icon--post-center.SubmitButton-SpinnerIcon ellipse {
    -webkit-animation: spinner-complete .3s ease;
    animation: spinner-complete .3s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.SubmitButton-CheckmarkIcon--current path {
    -webkit-animation: checkmark-check .3s ease;
    animation: checkmark-check .3s ease;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

@-webkit-keyframes shimmer-move {
    0% {
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%)
    }
    to {
        -webkit-transform: translateX(150%);
        transform: translateX(150%)
    }
}

@keyframes shimmer-move {
    0% {
        -webkit-transform: translateX(-150%);
        transform: translateX(-150%)
    }
    to {
        -webkit-transform: translateX(150%);
        transform: translateX(150%)
    }
}

@-webkit-keyframes spinner-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner-spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-webkit-keyframes spinner-complete {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes spinner-complete {
    to {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes checkmark-check {
    0% {
        opacity: 0;
        stroke-dashoffset: 30
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0
    }
}

@keyframes checkmark-check {
    0% {
        opacity: 0;
        stroke-dashoffset: 30
    }
    to {
        opacity: 1;
        stroke-dashoffset: 0
    }
}

.ConfirmPaymentTerms {
    line-height: 17px;
    text-align: center
}

.ConfirmPaymentTerms-bacsLink {
    white-space: nowrap
}

.ConfirmPaymentTerms-bacsIcon {
    width: 90px;
    margin-left: 32px;
    opacity: .3;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none
}

.App-Container--setupMode .ConfirmPaymentTerms {
    text-align: left
}

.ConfirmPayment-Submit {
    width: 100%;
    margin-top: 16px
}

.Divider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

.Divider hr {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-width: .5px
}

.Divider-Text {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 8px;
    white-space: nowrap;
    background-color: #fff
}

.PaymentRequestButtonContainer>button {
    height: 44px;
    width: 100%
}

.PaymentRequestButtonContainer.StripeElement--focus {
    z-index: 2;
    outline: none;
    box-shadow: 0 0 0 1px rgba(50, 151, 211, .3), 0 1px 1px 0 rgba(0, 0, 0, .07), 0 0 0 4px rgba(50, 151, 211, .3);
    border-radius: 6px
}

.PaymentRequestOrHeader {
    position: relative
}

.ButtonAndDividerContainer,
.PaymentHeaderContainer {
    width: 100%
}

.ButtonAndDividerContainer .PaymentRequestButtonContainer,
.PaymentHeader {
    margin-bottom: 16px
}

.ButtonAndDividerContainer .Divider {
    padding-top: 16px;
    padding-bottom: 32px
}

@media only screen and (max-width:991.98px) {
    .PaymentHeader {
        display: none
    }
}

.App-Global-Fields {
    margin-bottom: 8px
}

.PaymentMethod-Heading {
    margin-top: 12px
}

.ShippingDetails-Heading {
    margin-top: 0
}

.App-Container {
    margin: 0 16px
}

.App {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 380px;
    margin-bottom: 24px;
    margin-top: 0
}

.App.App--multiItem {
    padding-top: 84px
}

.App.App--singleItem {
    padding-top: 32px
}

.App-Overview,
.App-Payment {
    margin-bottom: 32px;
    width: 100%
}

.App-Overview-OrderDetails {
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 8px;
    display: none
}

.App--orderDetailsOverflowing .App-Overview-OrderDetails {
    border-bottom: 1px solid #e7e7e7
}

.App-Footer {
    margin-top: 16px;
    margin-bottom: 8px
}

.App-Payment-Header {
    height: 28px;
    margin-bottom: 32px;
    position: absolute;
    padding-top: 8px;
    top: 0;
    display: none
}


@keyframes enter {
    0% {
        -webkit-transform: scale(.97);
        transform: scale(.97);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes enter-background-shadow {
    0% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9);
        opacity: 0;
        box-shadow: none
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
        box-shadow: 15px 0 30px 0 rgba(0, 0, 0, .18)
    }
}

@keyframes enter-background-shadow {
    0% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9);
        opacity: 0;
        box-shadow: none
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        opacity: 1;
        box-shadow: 15px 0 30px 0 rgba(0, 0, 0, .18)
    }
}

.FullPageMessage {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.FullPageMessage,
.FullPageMessage-Message {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.FullPageMessage-Message {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 250px;
    text-align: center
}

.FullPageMessage-Message-Detail {
    text-align: justify
}

.FullPageMessage-Icon {
    margin-bottom: 16px
}


/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

.p0 {
    padding: 0
}

.p1 {
    padding: 4px
}

.py1 {
    padding-top: 4px;
    padding-bottom: 4px
}

.px1 {
    padding-left: 4px;
    padding-right: 4px
}

.p2 {
    padding: 8px
}

.py2 {
    padding-top: 8px;
    padding-bottom: 8px
}

.px2 {
    padding-left: 8px;
    padding-right: 8px
}

.p3 {
    padding: 12px
}

.py3 {
    padding-top: 12px;
    padding-bottom: 12px
}

.px3 {
    padding-left: 12px;
    padding-right: 12px
}

.p4 {
    padding: 16px
}

.py4 {
    padding-top: 16px;
    padding-bottom: 16px
}

.px4 {
    padding-left: 16px;
    padding-right: 16px
}

.p5 {
    padding: 24px
}

.py5 {
    padding-top: 24px;
    padding-bottom: 24px
}

.px5 {
    padding-left: 24px;
    padding-right: 24px
}

.p6 {
    padding: 32px
}

.py6 {
    padding-top: 32px;
    padding-bottom: 32px
}

.px6 {
    padding-left: 32px;
    padding-right: 32px
}

.m0 {
    margin: 0
}

.mt0 {
    margin-top: 0
}

.mr0 {
    margin-right: 0
}

.mb0 {
    margin-bottom: 0
}

.ml0,
.mx0 {
    margin-left: 0
}

.mx0 {
    margin-right: 0
}

.my0 {
    margin-top: 0;
    margin-bottom: 0
}

.m1 {
    margin: 4px
}

.mt1 {
    margin-top: 4px
}

.mr1 {
    margin-right: 4px
}

.mb1 {
    margin-bottom: 4px
}

.ml1,
.mx1 {
    margin-left: 4px
}

.mx1 {
    margin-right: 4px
}

.my1 {
    margin-top: 4px;
    margin-bottom: 4px
}

.m2 {
    margin: 8px
}

.mt2 {
    margin-top: 8px
}

.mr2 {
    margin-right: 8px
}

.mb2 {
    margin-bottom: 8px
}

.ml2,
.mx2 {
    margin-left: 8px
}

.mx2 {
    margin-right: 8px
}

.my2 {
    margin-top: 8px;
    margin-bottom: 8px
}

.m3 {
    margin: 12px
}

.mt3 {
    margin-top: 12px
}

.mr3 {
    margin-right: 12px
}

.mb3 {
    margin-bottom: 12px
}

.ml3,
.mx3 {
    margin-left: 12px
}

.mx3 {
    margin-right: 12px
}

.my3 {
    margin-top: 12px;
    margin-bottom: 12px
}

.m4 {
    margin: 16px
}

.mt4 {
    margin-top: 16px
}

.mr4 {
    margin-right: 16px
}

.mb4 {
    margin-bottom: 16px
}

.ml4,
.mx4 {
    margin-left: 16px
}

.mx4 {
    margin-right: 16px
}

.my4 {
    margin-top: 16px;
    margin-bottom: 16px
}

.m5 {
    margin: 24px
}

.mt5 {
    margin-top: 24px
}

.mr5 {
    margin-right: 24px
}

.mb5 {
    margin-bottom: 24px
}

.ml5,
.mx5 {
    margin-left: 24px
}

.mx5 {
    margin-right: 24px
}

.my5 {
    margin-top: 24px;
    margin-bottom: 24px
}

.m6 {
    margin: 32px
}

.mt6 {
    margin-top: 32px
}

.mr6 {
    margin-right: 32px
}

.mb6 {
    margin-bottom: 32px
}

.ml6,
.mx6 {
    margin-left: 32px
}

.mx6 {
    margin-right: 32px
}

.my6 {
    margin-top: 32px;
    margin-bottom: 32px
}

.mxn1 {
    margin-left: -4px;
    margin-right: -4px
}

.mxn2 {
    margin-left: -8px;
    margin-right: -8px
}

.mxn3 {
    margin-left: -12px;
    margin-right: -12px
}

.mxn4 {
    margin-left: -16px;
    margin-right: -16px
}

.mxn5 {
    margin-left: -24px;
    margin-right: -24px
}

.mxn6 {
    margin-left: -32px;
    margin-right: -32px
}

.ml-auto {
    margin-left: auto
}

.mr-auto,
.mx-auto {
    margin-right: auto
}

.mx-auto {
    margin-left: auto
}

.mb-2px {
    margin-bottom: 2px
}

* {
    box-sizing: border-box
}

@supports (scroll-behavior:smooth) {
    html {
        scroll-behavior: smooth
    }
}

html {
    line-height: 1.3
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
    color: #303030;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /*background-image: url('../../images/bg_checkout.png') !important;*/
    /*background-repeat: no-repeat !important;*/
    /*background-size: cover !important;*/
}

body:lang(ja) {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, Hiragino Sans, Yu Gothic UI, Meiryo UI, Hiragino Kaku Gothic ProN, sans-serif
}

body:lang(zh) {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, Microsoft JhengHei, sans-serif
}
