header {
    padding: 156px 0 100px;
    background-color: #2196f3;
}
body {
    background-color: #f8f9fa;
}
body main .row {
    background-color: white;
}
body main .row hr {
    width: 3%;
    float: left;
    border: 4px solid #007bff;
}
body main .row .lewy {
    border: 1px solid #dee2e6;
}
body main .row .lewy h4 {
    font-size: 32px;
    margin-top: 5%;
}
body main .row .lewy .card {
    border: none;
}
body main .row .lewy .card-header {
    background-color: white;
}
body main .row .lewy .card:hover {
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
body main .row .lewy .card .btn {
    color: black;
}
body main .prawy {
    border: 1px solid #dee2e6;
    border-left: none;
}
body main .prawy .price {
    font-size: 26px;
    font-weight: bolder;
}
body main .prawy input {
    border: none;
    border-bottom: 1px solid #dee2e6;
}
body main .prawy .cvc {
    width: 20%;
    float: left;
}
body main .prawy .month,
body main .prawy .year {
    width: 20%;
    margin-left: 3%;
    float: left;
}
body footer {
    margin-top: 2%;
    background-color: #2196f3;
    color: rgba(255, 255, 255, 0.6);
}
body footer .footer {
    background-color: rgba(0, 0, 0, 0.2);
}
body footer a {
    color: rgba(255, 255, 255, 0.6);
}
body footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}
body footer a:active {
    color: rgba(255, 255, 255, 0.6);
}
