@ramka: #dee2e6;
@myslnik: #3490dc;
@footer: #2196f3;
@footer_color: rgba(255,255,255,0.6);
header {
    padding: 156px 0 100px;
    background-color: @footer;
}
body {
    background-color: #f8f9fa;
    main {
        .row {
            background-color: white;
            hr {
                width: 3%;
                float: left;
                border: 4px solid @myslnik;
            }
            .lewy {
                h4 {
                    font-size: 32px;
                    margin-top: 5%;
                }
                border: 1px solid @ramka;
                .card {
                    border: none;
                    &-header{
                        background-color: white;
                    }
                    &:hover {
                        -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                        -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                        box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.75);
                    }
                    .btn {
                        color: black;

                    }
                }
            }
        }
        .prawy {
            border: 1px solid @ramka;
            border-left: none;
            background-color: #fcfcfc;
            .price {
                font-size: 26px;
                font-weight: bolder;
            }
            input {
                border: none;
                border-bottom: 1px solid @ramka;
            }
            .cvc{
                width: 20%;
                float: left;
            }
            .month, .year{
                width: 20%;
                margin-left: 3%;
                float: left;
            }

        }
    }
    footer{
        margin-top: 2%;
        background-color: @footer;
        color: @footer_color;
        .footer{
            background-color: rgba(0,0,0,0.2);
        }
        a{
            color: @footer_color;
            &:hover{
                color: @footer_color;
            }
            &:active{
                color: @footer_color;
            }
        }
    }
}

