.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    margin-bottom: 3rem;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {

        .number-input.def-number-input.safari_only button:before,
        .number-input.def-number-input.safari_only button:after {
            margin-top: -.3rem;
        }
    }
}

@font-face {
    font-family: 'Geomanist';
    src: url('fonts/geomanist-regular-webfont.eot');
    src: url('fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/geomanist-regular-webfont.woff2') format('woff2'),
    url('fonts/geomanist-regular-webfont.woff') format('woff'),
    url('fonts/geomanist-regular-webfont.ttf') format('truetype'),
    url('fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}

#cookieConsent2 {
    background-color: rgba(20,20,20,0.8);
    min-height: 32px;
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    z-index: 9999;
}

#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/

#cookieConsent2 a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent2 {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent2:hover {
    color: #FFF;
}
#cookieConsent2 a.cookieConsentOK2 {
    background-color: greenyellow;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent2 a.cookieConsentOK2:hover {
    background-color: #E0C91F;
}
#cookieConsent2 a.cookieConsentOK2 {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent2 a.cookieConsentOK2:hover {
    background-color: #E0C91F;
}

/* Preloder */


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Custom, serif;
    font-size: 32px;

}

.bg-blue {
    background-color: #10506C !important;
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/*------------------
Header section
 ---------------------*/

.gallery {
    background: #EEE;

}

.gallery-cell {
    color: black !important;
    width: 25%;
    height: 220px;
    margin-right: 10px;
    background: #8A8B8D;

}

.gallery-cell.is-selected {
    background: #FEFEFE;

}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;

}

.tekst{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 13px;
}
p{
    color: white !important;
}
.about{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.about2{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.modal_content{
    font-family: Custom;
    color: black;
    font-size: 15px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.tos-list {
    list-style-image: url('../images/li.png') !important;
    margin-left: 30%;
    margin-right: 30%;
    font-family: Custom;
}



.up{
    font-family: Custom;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 6%;
}
.up2{
    font-family: Custom;
    color: white;
    font-size: 100px;
    text-align: center;
    margin-top: 2%;
}

.modal_header{
    font-family: Custom;
    color: black;
    font-size: 55px;
    text-align: center;
    font-weight: bolder;

}

span{
    font-family: Custom;
    color: black;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.discord{
    font-family: Custom;
    color: white;
    text-align: center;
    margin-top: 6%;
    font-size: 1.8rem;
}
.Platinum{
    background-color: silver;
    height: 2px;
}
.Gold{
    background-color: gold;
    height: 2px;
}

.Capsules{
    background-color: red;
    height: 2px;
}

.Blue{
    background-color: dodgerblue;
    height: 2px;
}

hr { background-color: white; height: 1px; border: 0; }

p{
    font-family: Custom !important;
}

footer{
    /*margin-top: 20%;*/
    background-color: white !important;
}


[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
