<template>
    <div>
        <div id="clear" style="clear: both;"></div>
<!--        <p class="font-weight-bold">Pay with bank transfer </p>-->
        <input class="w-75 ml-5"  type="image" src="https://cdn.discordapp.com/attachments/657369529231343616/693113013158281266/coming-soon-3008776_960_720.png" />
    </div>
</template>

<script>
    export default {
        name: "Bank"
    }
</script>

<style scoped>

</style>
