<template>
    <div>
        <div id="clear" style="clear: both;"></div>
<!--        <p class="font-weight-bold">Pay with Coinbase </p>-->
        <div>
            <input class="w-75 ml-5"  type="image" src="https://cdn.discordapp.com/attachments/657369529231343616/693113013158281266/coming-soon-3008776_960_720.png" />
<!--            <p style="font-size: 20px; text-align: center;"><b>Due to delays caused by blockchain.</br>-->
<!--                    There might be an up to 4 hours delay with the delivery.</b></p>-->
<!--                        <a class="btn donate-with-crypto"-->
<!--               :href="'https://commerce.coinbase.com/checkout/' + this.pyk">-->
<!--            </br>-->
<!--                <form ><input type="image" :formaction="'https://commerce.coinbase.com/checkout/' + this.pyk" class="btn" style=" margin-left:17%; width:60%" src="../../images/images/coinbase.png" /></form>-->
<!--            </a>-->
        </div>
    </div>
</template>

<script>
    export default {

        props: ['pyk']
    }
</script>

<style scoped>

</style>

<style></style>
