<template>
    <div style="">
        <div id="clear" style="clear: both;"></div>
<!--        <p class="font-weight-bold text-center">Proceed to PayPal</p>-->
        <form method="GET"><input type="image" :formaction="'/pay/paypal_get/' + this.postroute" style="margin-top: 10%; margin-left:25%;width: 55%; border: none; border-bottom: none; background-color: white !important" class="  "  src="../../images/unknown.png"/></form>
    </div>
</template>

<script>
    export default {
        props: ['postroute']
    }
</script>
