<template>
    <div>

        <div id="clear" style="clear: both;"></div>
<!--        <p class="font-weight-bold">Pay with the Credit/Debit Card</p>-->

        <form role="form" :action="'/pay/stripe/' + this.postroute" method="post" class="require-validation"
              data-cc-on-file="false"
              data-stripe-publishable-key="pk_live_KpPaLk4CKLhEUlTA5itof0Ub00JyF4MuSL"
              id="payment-form">

            <input type="hidden" name="name" id="name" :value="this.name "/>
            <input type="hidden" name="price" id="price" :value="this.price"/>
            <input type="hidden" name="email" id="email" :value="this.email"/>
            <input type="hidden" name="currency" id="currency" :value="this.currency"/>
            <input type="hidden" name="order_id" id="order_id" :value="this.order_id"/>
            <input type="hidden" name="quantity" id="quantity" :value="this.quantity"/>



            <div class='form-row row'>
                <div class='col-xs-12 form-group  required ' style="border: none !important; background-color: transparent !important; ">
                    <label style="background-color: transparent !important; " class='Text Text-color--black Text-fontSize--13 Text-fontWeight--500'>Card Number</label> <input
                    autocomplete='off' placeholder="1234 1234 1234 1234" class='form-control card-number' size='40'
                    type='text' style="width: 100% !important;">
                </div>
            </div>

            <div class='form-row row w-75'>

                <div class='col-xs-12 col-md-4 form-group expiration w-50 required'>
                    <label class='Text Text-color--black Text-fontSize--13 Text-fontWeight--500'>Expiration Month</label> <input
                    class='form-control card-expiry-month' placeholder='MM' size='2'
                    type='text'>
                </div>
                <div class='col-xs-12 col-md-4 form-group expiration w-50 required'>
                    <label class='Text Text-color--black Text-fontSize--13 Text-fontWeight--500'>Expiration Year</label> <input
                    class='form-control card-expiry-year' placeholder='YYYY' size='4'
                    type='text' style="width: 90% !important;">
                </div>
                <div class='col-xs-12 col-md-4 form-group cvc w-50 required '>
                    <label class='Text Text-color--black Text-fontSize--13 Text-fontWeight--500'>CVC (three digits)</label> <input autocomplete='off'
                                                                                                                                   class='form-control card-cvc' placeholder='ex. 311' size='4'
                                                                                                                                   type='text' >
                </div>
            </div>
            <div class='form-row row'>
                <div class='col-xs-12 form-group  required ' style="border: none !important; background-color: transparent !important; ">
                    <label style="background-color: transparent !important; " class='Text Text-color--black Text-fontSize--13 Text-fontWeight--500'>Cardholder's name</label> <input
                    autocomplete='off' placeholder="John Smith" class='form-control card-name' size='40'
                    type='text' style="width: 100% !important">
                </div>
            </div>
            <div class='form-row row'>
                <div class='col-md-12 error form-group hide'>
                    <div class='alert-danger alert'>Please correct the errors and try
                        again.</div>

                </div>
            </div>
            <center><button class="btn btn-primary btn-lg btn-block" style="width: 90%" type="submit">Pay Now {{$price}} {{$currency}}</button></center>

        </form>
    </div>

</template>

<script>
    export default {
        props: ['postroute', 'name', 'currency', 'order_id', 'price', 'email', 'quantity']
    }
</script>
<style>
    .hide{
        display: none;
    }
    .border-button {
        outline: solid 1px #000000;
        transition: outline 0.1s linear;
        margin: 0.5em; /* Increased margin since the outline expands outside the element */
    }

    .border-button:hover { outline-width: 1px; }
    ::-webkit-input-placeholder {
        text-align: center;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: center;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
    }

    :-ms-input-placeholder {
        text-align: center;
    }
</style>

